<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.0/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
</head>
<body class="uk-width-1-1">
<div class="uk-width-1-1 uk-margin-xlarge-top uk-flex uk-flex-center">
    <div class="uk-width-1-2 uk-flex uk-flex-column uk-flex-middle">
        <% if is_valid %>
        <div class="uk-width-1-1 uk-flex uk-flex-column uk-flex-middle">
            <div>
                <form action="/configure_nn">
                    <input type="submit" class="uk-button uk-button-primary" value="Continue with this files?"/>
                </form>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top uk-flex">
                <div class="uk-width-1-2 uk-overflow-auto uk-height-medium">
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                    $(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)$(file_repr_train)
                </div>
                <div class="uk-width-1-2 uk-overflow-auto uk-height-medium uk-margin-left">
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                    $(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)$(file_repr_pred)
                </div>
            </div>
        </div>
        <% else %>
        <div class="uk-margin-medium-top">
            <form action="/data_load">
                <h5 class="uk-h5 uk-text-danger uk-text-center">Chosen file is invalid</h5>
                <input class="uk-button uk-button-primary" type="submit" value="Choose other files?"/>
            </form>
        </div>
        <% end %>
    </div>
</div>
</body>
</html>
